@import 'variables';
@import 'mixins.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

%border-bubble-feat {
  border: $border;
  border-radius: 5px;
  padding: 5px;
  background-color: #F7F9FE;
}

%display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  overflow-y: scroll;
}

body {
  background-color: $body_background_color;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  min-width: 320px;
  padding: 10px;
}

header {
  margin-bottom: 20px;
  @extend %display-flex;
  img {
    width: 15%;
  }
  h1 {
  font-size: $font_size_xlarge;
  font-weight: $font_weight_medium;
  margin: 5px;
    span {
      font-weight: $font_weight_large;
    }
  }
  p {
    text-align: $text_align;
    background-color: $header_color;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 30%;
    color: $body_background_color;
    font-weight: $font_weight_medium;
    font-size: $font_size_medium;
  }
}

main {
  margin-left: 45px;
}

.grid {
  box-sizing: border-box;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  box-sizing: border-box;
  &:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
  }
}

.data-section {
  @extend %display-flex-column;
  background-color: $card_background-color;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  outline: 0;
  width: 30%;
    &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.data-heading {
  text-align: $text_align;
  font-size: $font_size_large;
  margin: 0;
  font-weight: $font_weight_medium;
  color: $header_color;
  letter-spacing: 1px;
  width: 85%;
  padding: 10px;
  border-bottom: $border_header;
}

.data-article {
  margin: 20px 0;
  text-align: $text_align;
  width: 95%;
}

.img-medium {
  opacity: 0.8;
  width: 30%;
  height: 100px;
}

.subtext {
  font-size: $font_size_medium;
  font-weight: $font_weight_large;
  margin: 5px;
  color: $header_color;
}

.data-text {
  font-size: $font_size_small;
  margin: 10px;
}

canvas {
  @extend %border-bubble-feat;
  margin: auto;
}

#hydration-date-field, #hydration-oz-field {
  margin: auto;
  color: $header_color;
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#user-hydration-date, #user-hydration-oz {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
  opacity: 1;
}

.hydration-submit {
  font-size: 1.3em;
  color: white;
  background-color: #01579B;
  margin-top: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    &:active {
      transform: scale(.97);
    }
    &:focus {
      outline: none;
    }
}

.success-message {
  color: $header_color;
}

.number-of-steps-goal {
  margin-top: 10px;
}

ul {
  list-style: none;
  margin-left: -9%;
}

.side-by-side-container {
  @extend %display-flex;
}

.compare {
  @extend %display-flex-column;
  width: 50%;
  margin: 10px 0;
}

.side-border {
  border-right: $border;
}

.border-bottom {
  padding: 5px;
  border-bottom: $border;
  width: 83%;
}

.number-of-steps-day {
  margin: 5px auto;
  width: 50%;
}

.border-bubble {
  @extend %border-bubble-feat;
  width: 75%;
  margin: auto;
}

.date {
  font-size: $font_size_small;
  color: white;
}

.friend-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  width: 100%;
}

.friend-button {
  background-color: $header_color;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  height: 65px;
  width: 65px;
  text-align: center;
  font-size: $font_size_small;
  cursor: pointer;
}
